body {
    width: 100%;
    height: auto;
    background-color: #E1E5EE;
    display: flex;
    margin: 0;
    justify-content: center;
    padding: 1rem;

    article {
        width: 100%;
        max-width: 840px;
        font-family: "Montserrat", sans-serif;
        background-color: #fff;
        padding: 1rem;
        position: relative;
        margin: 1 rem;
        margin-top: -1.5rem;
        
    }

    button {
        background-color: transparent;
        border: none;
        text-decoration: none;
        color: #E1E5EE;
        font-size: 16px;
        font-weight: bold;
        font-family: "Roboto", sans-serif;
        padding: 2rem;
        margin: 10px;
        background-color: #2A324B;

        &:active {
            background-color: #fff;
            color: #2A324B;
        }
        &:hover{
        background-color: white;
        color: black;
        font-weight: bolder;
    }
        
       
       
      
    }

    ul {
        display: flex;
        list-style-type: none;
        flex-wrap: wrap;

        li a {
            color: #58699D;
        }
    }
}